<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Extra Condition + Single Date Filter (dc_xx_ymd) -->
    <div th:fragment="filter" class="filter-bar filter-dc-xx-ymd">
        <div class="filter-item">
            <label for="filterYmd" th:text="${labelYmd != null ? labelYmd : (label != null ? label : '조회일자')}">조회일자</label>
            <input type="date" id="filterYmd" name="ymd" class="filter-input input-date" th:value="${ymd}"/>
        </div>
        <div class="filter-item filter-code-search-item">
            <label for="filterXx" th:text="${labelXx != null ? labelXx : '조회조건'}">조회조건</label>
            <div class="code-search-input-wrapper">
                <input type="text" id="filterXx" name="xx" class="filter-input code-search-input" autocomplete="off"
                       th:attr="data-column-nm=${columnNm != null ? columnNm : 'rcd'}, data-seq=${seq != null ? seq : 2}" />
                <button type="button" class="btn-code-search" id="btnCodeSearchXx" title="코드 검색"
                        th:attr="data-column-nm=${columnNm != null ? columnNm : 'rcd'}, data-seq=${seq != null ? seq : 2}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <span class="code-search-name" id="textXxName"></span>
        </div>

    </div>
</body>
</html>
