<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.domain.dailyadvisory.mapper.Ja990cMapper">

    <select id="selectMasterList" resultType="com.kfp.aams.domain.dailyadvisory.dto.Ja990cMasterDto">
        SELECT t1.BALH_CO
             , t1.BALH_NM
             , t1.TR_STOP_GB
             , t1.SOSOK_GB
             , t1.AEKM
             , t1.GR_BALH_GB
             , TO_CHAR(t1.BUDO_YMD, 'YYYY-MM-DD') AS budo_ymd
             , t1.COMP_CD
             , t1.GYUL_MM
             , t1.ISIN_CD
             , t1.COMP_BU
             , t1.BALH_NATION
             , t1.ENC_BUBIN_NO
             , DECODE(t1.DEL_YN, 'Y', 'Y', '0') AS del_yn
             , TO_DECRYPTS(t1.enc_bubin_no) AS bubin_no
             , 1 AS p_visible
          FROM sjx0jb t1
         WHERE NVL(t1.SOSOK_GB, '%') LIKE #{sosokGb}
           AND LENGTH(t1.balh_co) > #{cdLen}
         ORDER BY DECODE(t1.DEL_YN, 'Y', 'Y', '0') ASC, t1.balh_co ASC
    </select>

    <select id="selectDetailList" resultType="com.kfp.aams.domain.dailyadvisory.dto.Ja990cDetailDto">
        SELECT BALH_CO
             , TO_CHAR(YMD, 'YYYY-MM-DD HH24:MI:SS') AS ymd
             , CHG_COLUMN
             , BF_DATA
             , AF_DATA
             , NVL(SKT0BU, 'N') AS skt0bu
             , UPD_USER
          FROM sjx0jb_history
         WHERE balh_co = #{balhCo}
         ORDER BY chg_column ASC, ymd ASC
    </select>

</mapper>
