<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.domain.dailyadvisory.mapper.Sjt0scMapper">

    <!-- 1. 펀드 기준가(시가액)등록 목록 조회 (d_sjt0sc_2402 / d_sjt0sc) -->
    <select id="selectSjt0scList" resultType="com.kfp.aams.domain.dailyadvisory.dto.Sjt0scDto">
        SELECT t1.corp_gr                         AS corpGr
             , t1.ymd                             AS ymd
             , t1.jm_cd                           AS jmCd
             , t2.tasa_fund_cd                    AS tasaFundCd
             , F_JM_NM(t1.corp_gr, t1.jm_cd)      AS jmNm
             , t1.dang_gijun_ga                   AS dangGijunGa
             , t1.jun_gijun_ga                    AS junGijunGa
             , (NVL(t1.dang_gijun_ga, 0) - NVL(t1.jun_gijun_ga, 0)) AS gijunGaDr
             , t1.gyul_gijun_ga                   AS gyulGijunGa
             , t1.bf_siga_aek                     AS bfSigaAek
             , t1.load_siga_aek                   AS loadSigaAek
             , t1.bigo                            AS bigo
             , t1.dang_ggijun_ga                  AS dangGgijunGa
             , t1.gyul_ggijun_ga                  AS gyulGgijunGa
          FROM SJT0SC t1
          LEFT OUTER JOIN sjm0sc t2  ON t2.corp_gr    = t1.corp_gr
                                    AND t2.tasa_jm_cd = t1.jm_cd
         WHERE t1.corp_gr LIKE #{corpGr}
           AND t1.ymd     = #{ymd}
         ORDER BY t1.corp_gr ASC, t1.jm_cd ASC
    </select>

</mapper>
