<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.domain.daily.mapper.ProposalMapper">

    <!-- Select Proposal Master List (d_proposal_list.srd / PROPOSAL) -->
    <select id="selectProposalMasterList" resultType="com.kfp.aams.domain.daily.dto.ProposalMasterDto">
        SELECT t1.CORP_GR                       AS corpGr
             , TO_CHAR(t1.YMD, 'YYYY-MM-DD HH24:MI:SS') AS ymd
             , t1.PROPOSER                      AS proposer
             , t1.TITLE                         AS title
             , t1.MATTER                        AS matter
             , TO_CHAR(t1.CONTENT_YMD, 'YYYY-MM-DD HH24:MI:SS') AS contentYmd
             , t1.CONTENT                       AS content
             , t1.FEXP                          AS fexp
             , t1.ORG_FNAME                     AS orgFname
             , CASE WHEN TRUNC(t1.YMD) = TRUNC(SYSDATE) THEN 1 ELSE 0 END AS saveVisible
          FROM PROPOSAL t1
         WHERE t1.CORP_GR = #{corpGr}
         ORDER BY t1.YMD DESC
    </select>

    <!-- Select Proposal Comment Detail List (d_proposal_2.srd / PROPOSAL_APPEND) -->
    <select id="selectProposalCommentList" resultType="com.kfp.aams.domain.daily.dto.ProposalCommentDto">
        SELECT pa.CORP_GR                       AS corpGr
             , TO_CHAR(pa.P_YMD, 'YYYY-MM-DD HH24:MI:SS') AS pYmd
             , pa.P_PROPOSER                    AS pProposer
             , TO_CHAR(pa.YMD, 'YYYY-MM-DD HH24:MI:SS') AS ymd
             , pa.SB_NM                         AS sbNm
             , pa.APPENDING                     AS appending
             , CASE WHEN pa.SB_NM = #{gsUser} THEN 16711680
                                              ELSE 33554432 END AS color
          FROM PROPOSAL_APPEND pa
         WHERE pa.CORP_GR    = #{corpGr}
           AND pa.P_YMD      = TO_DATE(#{ymd}, 'YYYY-MM-DD HH24:MI:SS')
           AND pa.P_PROPOSER = #{proposer}
         ORDER BY pa.YMD DESC
    </select>

</mapper>
