<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.domain.daily.mapper.Szx0seMapper">

    <!-- Select Series Product Group Master List (d_szx0se.srd in pb_resource/JA999) -->
    <select id="selectSzx0seList" resultType="com.kfp.aams.domain.daily.dto.Szx0seDto">
        SELECT se.CORP_GR           AS corpGr
             , se.SERIES_G1         AS seriesG1
             , se.SERIES_G2         AS seriesG2
             , se.SERIES_GB         AS seriesGb
             , se.SERIES_NM         AS seriesNm
             , se.RET_SUSU          AS retSusu
             , se.RET_SUSU_GB       AS retSusuGb
             , se.FUTURES_INCLUDE   AS futuresInclude
             , se.USED              AS used
             , se.RE_SEOLJ_YEAR     AS reSeoljYear
             , se.SINTAK_GIGAN      AS sintakGigan
             , se.BOSU_GIGAN        AS bosuGigan
             , se.MOKPYO_SUIK_PER   AS mokpyoSuikPer
             , se.PRE_BASIC         AS preBasic
             , se.BASIC_PER         AS basicPer
             , se.SUCCESS_PER       AS successPer
             , se.MAGAM_USED        AS magamUsed
             , se.DP_USED           AS dpUsed
             , se.BM_GR             AS bmGr
             , se.GUGAN             AS gugan
             , se.GA                AS ga
             , se.BIGO              AS bigo
          FROM SZX0SE se
         WHERE se.CORP_GR = #{corpGr}
         ORDER BY se.USED DESC, se.SERIES_G1 ASC, se.SERIES_G2 ASC
    </select>

</mapper>
