<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.mapper.HomeMapper">


    <!-- d_home04: Multi-table Subquery (SJG1JC + SZX0AA) -->
    <!-- 1. 공모기본정보 -->
    <select id="selectHome04List" resultType="com.kfp.aams.dto.PublicStockDto">
        SELECT t1.JC_JOIN      AS jcJoin
             , t1.ymd          AS ymd
             , t1.CY_GB        AS cyGb
             , t1.balh_co      AS balhCo
             , t1.JM_NM        AS jmNm
             , t1.jg_tr_co_cd  AS jgTrCoCd
             , t1.jg_tr_co_nm  AS jgTrCoNm
             , t1.START_YMD    AS startYmd
             , t1.END_YMD      AS endYmd
             , t1.SJ_YMD       AS sjYmd
             , t1.NABIB_YMD    AS nabibYmd
             , t1.cy_jm_cd     AS cyJmCd
             , t1.sj_jm_cd     AS sjJmCd
             , t1.susu_per     AS susuPer
             , F_JM_NM (NVL(#{corpGr}, '2200'), t1.cy_jm_cd)  AS xx_cy_jm_cd
             , F_JM_NM (NVL(#{corpGr}, '2200'), t1.sj_jm_cd)  AS xx_sj_jm_cd
          FROM SJG1JC t1
         WHERE (#{corpGr} IS NULL OR t1.ymd >= (SELECT ADD_MONTHS(h1.hyun_ymd, -3) FROM SZX0AA h1 WHERE h1.corp_gr = #{corpGr}))
         ORDER BY t1.ymd DESC, t1.JM_NM ASC, t1.balh_co ASC
    </select>

 <!-- d_home05: Multi-table JOIN (sjg1jc_tr + sjg1jc) -->
     <!-- 2. 수요예측참여내역(최근1개월) -->
    <select id="selectHome05List" resultType="com.kfp.aams.dto.SubscriptionDto">
        SELECT tr.corp_gr            AS corpGr
             , tr.JC_JOIN            AS jcJoin
             , tr.jg_tr_co_cd        AS jgTrCoCd
             , tr.sc_YMD             AS scYmd
             , tr.sc_JUSU            AS scJusu
             , tr.sc_DANGA           AS scDanga
             , tr.sc_AEK             AS scAek
             , tr.sc_USER            AS scUser
             , tr.cy_YMD             AS cyYmd
             , tr.cy_JUSU            AS cyJusu
             , tr.cy_DANGA           AS cyDanga
             , tr.cy_AEK             AS cyAek
             , tr.cy_JKM             AS cyJkm
             , tr.cy_USER            AS cyUser
             , tr.lock_end           AS lockEnd
             , t1.ymd                AS ymd
             , t1.balh_co            AS balhCo
             , t1.jg_tr_co_cd        AS sjg1jcJgTrCoCd
             , t1.jg_tr_co_nm        AS sjg1jcJgTrCoNm
             , t1.JM_NM              AS jmNm
             , F_BALH_NM (NVL(tr.corp_gr, #{corpGr}), t1.balh_co) AS xx_balh_co
             , t1.cy_GB              AS cyGb
             , t1.sj_ymd             AS sjYmd
             , t1.sj_jm_cd           AS JmCd
             , t1.start_ymd          AS startYmd
             , t1.end_ymd            AS endYmd
          FROM SJG1JC t1
          LEFT OUTER JOIN sjg1jc_tr tr ON tr.corp_gr = #{corpGr}
                                      AND tr.JC_JOIN = t1.JC_JOIN
         WHERE t1.balh_co IS NOT NULL
           AND (#{corpGr} IS NULL OR t1.nabib_ymd >= (SELECT ADD_MONTHS(h1.hyun_ymd, -1)
                                                         FROM SZX0AA h1
                                                        WHERE h1.corp_gr = #{corpGr})
                OR tr.jc_join IS NOT NULL)
          order by t1.ymd desc, t1.jm_nm, t1.sj_jm_cd
    </select>

    <!-- d_home02: Multi-table JOIN (SZM0GI + SZM0IA) -->
    <!--  4-1. 당월결산계산List-->
    <select id="selectHome02List" resultType="com.kfp.aams.dto.GyulAccountDto">
        SELECT t1.af_gyul_ymd AS gyulYmd
             , t1.fund_cd     AS fundCd
             , ia.fund_nm     AS fundNm
             , TO_CHAR(SYSDATE, 'YYYY-MM-DD') AS titleYmd
          FROM SZM0GI t1
          JOIN SZM0IA ia ON ia.corp_gr = t1.corp_gr AND ia.fund_cd = t1.fund_cd
         WHERE t1.corp_gr = #{corpGr}
           AND t1.af_gyul_ymd Between trunc(now (),'mm') And LAST_DAY(now ())
           AND NVL(ia.haeji_ymd, SYSDATE) >= SYSDATE
         ORDER BY t1.af_gyul_ymd ASC, t1.fund_cd ASC
    </select>
    
 <!-- d_home03: Multi-table JOIN (SCM0CM + SCJ0IG + SCM0CJ + SZM0IA + SHM0HM + SHJ0IG + SHM0HJ) -->
    <!-- 4-2. 당월이자(만기) -->
    <select id="selectHome03List" resultType="com.kfp.aams.dto.RateChangeDto">
        SELECT DISTINCT 
               cj.jm_cd      AS jmCd
             , cj.cj_nm      AS cjNm
             , ia.fund_cd    AS fundCd
             , ia.fund_nm    AS fundNm
             , ig.af_ija_ymd AS afIjaYmd
             , CASE WHEN ig.af_ija_ymd = cj.sanghw_ymd THEN 'red' ELSE 'blue' END AS lineColor
          FROM SCM0CM t1
             , SCJ0IG ig
             , SCM0CJ cj
             , SZM0IA ia
         WHERE t1.corp_gr    = #{corpGr}
           AND t1.ymd        = F_OPEN_YMD(TRUNC(SYSDATE, 'DD'), '-')
           AND ig.corp_gr    = t1.corp_gr
           AND ig.jm_cd      = t1.jm_cd
           AND ig.af_ija_ymd BETWEEN TO_CHAR(TRUNC(SYSDATE, 'MM'), 'YYYYMMDD') AND TO_CHAR(LAST_DAY(SYSDATE), 'YYYYMMDD')
           AND cj.corp_gr    = t1.corp_gr
           AND cj.jm_cd      = t1.jm_cd
           AND ia.corp_gr    = t1.corp_gr
           AND ia.fund_cd    = t1.fund_cd
           AND NVL(ia.haeji_ymd, TO_CHAR(SYSDATE, 'YYYYMMDD')) >= TO_CHAR(SYSDATE, 'YYYYMMDD')
        UNION ALL
        SELECT DISTINCT 
               hj.jm_cd      AS jmCd
             , hj.hj_nm      AS cjNm
             , ia.fund_cd    AS fundCd
             , ia.fund_nm    AS fundNm
             , ig.af_ija_ymd AS afIjaYmd
             , CASE WHEN ig.af_ija_ymd = hj.sanghw_ymd THEN 'red' ELSE 'blue' END AS lineColor
          FROM SHM0HM t1
             , SHJ0IG ig
             , SHM0HJ hj
             , SZM0IA ia
         WHERE t1.corp_gr    = #{corpGr}
           AND t1.ymd        = F_OPEN_YMD(TRUNC(SYSDATE, 'DD'), '-')
           AND ig.corp_gr    = t1.corp_gr
           AND ig.jm_cd      = t1.jm_cd
           AND ig.af_ija_ymd BETWEEN TO_CHAR(TRUNC(SYSDATE, 'MM'), 'YYYYMMDD') AND TO_CHAR(LAST_DAY(SYSDATE), 'YYYYMMDD')
           AND hj.corp_gr    = t1.corp_gr
           AND hj.jm_cd      = t1.jm_cd
           AND ia.corp_gr    = t1.corp_gr
           AND ia.fund_cd    = t1.fund_cd
           AND NVL(ia.haeji_ymd, TO_CHAR(SYSDATE, 'YYYYMMDD')) >= TO_CHAR(SYSDATE, 'YYYYMMDD')
    </select>




   

    <!-- d_home5_notice_1: Multi-table Subquery (fw_docu_mst + fw_docu_log) -->
    <select id="selectHome5NoticeList" resultType="com.kfp.aams.dto.NoticeDto">
        SELECT la.sys_id        AS sysId
             , la.board_no      AS boardNo
             , la.docu_no       AS docuNo
             , la.docu_title    AS docuTitle
             , la.tree_level    AS treeLevel
             , la.start_dtm     AS startDtm
             , la.end_dtm       AS endDtm
             , la.memb_type     AS membType
             , la.role_no       AS roleNo
             , la.hold_yn       AS holdYn
             , la.ontop_yn      AS ontopYn
             , la.writer_name   AS writerName
             , la.linked_pgm_no AS linkedPgmNo
             , CASE WHEN (SELECT COUNT(*) FROM fw_docu_log ta WHERE ta.sys_id = la.sys_id AND ta.board_no = la.board_no AND ta.docu_no = la.docu_no AND ta.read_user = #{userId}) > 0 THEN 'Y' ELSE 'N' END AS readYn
          FROM fw_docu_mst la
         ORDER BY la.docu_no DESC
    </select>

    <!-- 순자산 및 계좌현황 Chart (uo_cht1 / dw_cht9) -->
    <select id="selectChtDataList" resultType="com.kfp.aams.dto.ChtDataDto">
        SELECT 'Y'                                                     AS chtYn
             , TO_CHAR(t1.ymd, 'MM') || '월 ' || TO_CHAR(t1.ymd, 'W') || '주' AS cv2Chtnm
             , NVL(t1.g90104, 0) / 100000000                           AS cv2Chtvalue001
             , t1.fund1                                                AS cv2Chtvalue002
          FROM fw_day_chtdata t1
         WHERE (#{corpGr} IS NULL OR t1.corp_gr = #{corpGr})
           AND t1.YMD Between ADD_MONTHS(TO_DATE(NVL(#{ymd}, TO_CHAR(SYSDATE, 'YYYYMMDD')), 'YYYYMMDD') - 1, -6)
                          And TO_DATE(NVL(#{ymd}, TO_CHAR(SYSDATE, 'YYYYMMDD')), 'YYYYMMDD')
           AND t1.FUND_CURRENCY = 'KRW'
           AND t1.weekday = TO_CHAR(TO_DATE(NVL(#{ymd}, TO_CHAR(SYSDATE, 'YYYYMMDD')), 'YYYYMMDD') - 1, 'dy')
         ORDER BY t1.ymd ASC
    </select>
</mapper>
