<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfp.aams.domain.menu.mapper.MenuMapper">

    <!-- 1. Header Top Menu List -->
    <select id="selectTopMenuList" resultType="com.kfp.aams.domain.menu.dto.MenuDto">
        SELECT PGM_NO        AS pgmNo
             , PGM_ID        AS pgmId
             , PGM_NM        AS pgmNm
             , PGM_GO        AS pgmGo
             , PARENT_PGM    AS parentPgm
             , PGM_KIND_CODE AS pgmKindCode
             , SORT_ORDER    AS sortOrder
             , UPD_ID        AS updId
          FROM FW_PGM_MST
         WHERE PGM_KIND_CODE = 'M'
           AND PARENT_PGM = '00000'
           AND MENU_USE_YN = 'Y'
           AND PGM_USE_YN = 'Y'
         ORDER BY SORT_ORDER
    </select>

    <!-- 2. Side Navigation Menu List -->
    <select id="selectSideMenuList" resultType="com.kfp.aams.domain.menu.dto.MenuDto">
        SELECT PGM_NO        AS pgmNo
             , PGM_ID        AS pgmId
             , PGM_NM        AS pgmNm
             , PGM_GO        AS pgmGo
             , PARENT_PGM    AS parentPgm
             , PGM_KIND_CODE AS pgmKindCode
             , SORT_ORDER    AS sortOrder
             , TREE_LEVEL    AS treeLevel
             , TREE_LINE     AS treeLine
             , FULLPGM       AS fullpgm
             , FULLPGM1      AS fullpgm1
             , FULLPGM2      AS fullpgm2
          FROM FW_PGM_MST
         WHERE PGM_KIND_CODE IN ('M', 'P')
           AND MENU_USE_YN = 'Y'
           AND PGM_USE_YN = 'Y'
           AND PARENT_PGM != '00000'
         START WITH PGM_NO = #{pgmNo}
        CONNECT BY PRIOR PGM_NO = PARENT_PGM
         ORDER SIBLINGS BY NVL(SORT_ORDER, 0)
    </select>

    <!-- 3. Get Menu Info by PGM_ID -->
    <select id="selectMenuByPgmId" resultType="com.kfp.aams.domain.menu.dto.MenuDto">
        SELECT PGM_NO        AS pgmNo
             , PGM_ID        AS pgmId
             , PGM_NM        AS pgmNm
             , PGM_GO        AS pgmGo
             , FULLPGM       AS fullpgm
             , FULLPGM1      AS fullpgm1
             , FULLPGM2      AS fullpgm2
          FROM FW_PGM_MST
         WHERE UPPER(PGM_ID) = UPPER(#{pgmId})
           AND ROWNUM = 1
    </select>

    <!-- 4. Select All Programs for Global Search -->
    <select id="selectAllMenuList" resultType="com.kfp.aams.domain.menu.dto.MenuDto">
        SELECT PGM_NO        AS pgmNo
             , PGM_ID        AS pgmId
             , PGM_NM        AS pgmNm
             , PGM_GO        AS pgmGo
             , PARENT_PGM    AS parentPgm
             , PGM_KIND_CODE AS pgmKindCode
             , SORT_ORDER    AS sortOrder
             , FULLPGM       AS fullpgm
             , FULLPGM1      AS fullpgm1
             , FULLPGM2      AS fullpgm2
          FROM FW_PGM_MST
         WHERE PGM_KIND_CODE = 'P'
           AND MENU_USE_YN = 'Y'
           AND PGM_USE_YN = 'Y'
         ORDER BY NVL(SORT_ORDER, 0), PGM_GO
    </select>

</mapper>
